In [5]:
# import tensorflow_datasets as tfds
import pandas as pd
from pandas import DataFrame

About Sentiment140

This is the sentiment140 dataset.

It contains 1,600,000 tweets extracted using the twitter api . The tweets have been annotated (0 = negative, 2 = neutral, 4 = positive) and they can be used to detect sentiment .

It contains the following 6 fields:

1. target: the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)
2. ids: The id of the tweet ( 2087)
3. date: the date of the tweet (Sat May 16 23:58:44 UTC 2009)
4. flag: The query (lyx). If there is no query, then this value is NO_QUERY.
5. user: the user that tweeted (robotickilldozr)
6. text: the text of the tweet (Lyx is cool)

Cargar datos desde los datasets de tensorflow

In [6]:
# df = tfds.load("sentiment140", data_dir="./input")

In [2]:
columns = ["target", "id", "date", "flag", "user", "text"]
df = pd.read_csv("./input/sentiment140.csv", encoding="ISO-8859-1", names=columns)

In [3]:
df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

Eliminacion de las columnas que no son necesarias

In [37]:
df.drop(["id", "date", "flag", "user"], axis="columns", inplace=True)
df.head()

   target                                               text
0       0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1       0  is upset that he can't update his Facebook by ...
2       0  @Kenichan I dived many times for the ball. Man...
3       0    my whole body feels itchy and like its on fire
4       0  @nationwideclass no, it's not behaving at all....

Como vemos no hay valores faltantes, pero si hay algunas filas duplicadas

In [38]:
def summary(df: DataFrame):
    print("Shape: ", df.shape)
    print("Duplicate rows: ", df.duplicated().sum())
    return pd.DataFrame(
        index=df.columns,
        data={
            "Unique": df.nunique().values,
            "Missing": df.isnull().sum().values,
            "Type": df.dtypes,
        },
    )

In [39]:
summary(df)

Shape:  (1600000, 2)
Duplicate rows:  16309

         Unique  Missing    Type
target        2        0   int64
text    1581466        0  object

Eliminacion de filas duplicadas

In [40]:
df.drop_duplicates(inplace=True)